@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  color: #fff;
  background-color: #363636;
  line-height: 1.5;
}

body.no-scroll,
body.show-sidebar {
  overflow: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  min-height: 100vh;
}

.page__title {
  font-size: 21px;
  color: white;
  margin-bottom: 30px;
}

.page__title--center {
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 300px);
  background-color: #0D0D0D;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.75);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.header__left {
  width: 60%;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav--mobile {
  display: none;
  margin: 30px 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  position: relative;
}

.nav__item:hover .nav__link {
  background-color: #3137C9;
}

.nav__item:hover > .subnav {
  display: block;
}

.nav__link {
  display: block;
  padding: 13px;
  color: white;
  font-size: 11px;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.nav__link.has-subnav {
  position: relative;
  padding-right: 35px;
}

.nav__link.has-subnav::after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search {
  width: 100%;
  max-width: 210px;
  background-color: #202020;
}

.search__input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  font-family: inherit;
  font-size: 12px;
  color: #fff;
}

.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subnav {
  display: none;
  width: 165px;
  padding: 5px 0;
  background-color: #3137C9;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 6px 18px black;
          box-shadow: 0 6px 18px black;
  position: absolute;
  top: 100%;
  left: 0;
}

.subnav__link {
  display: block;
  padding: 5px 12px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.subnav__link:hover {
  background-color: #22268b;
}

/*BURGER*/

.burger {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  font-size: 0;
  color: transparent;
}

.burger::before,
.burger::after,
.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
}

.burger::before {
  content: "";
  top: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.burger::after {
  content: "";
  bottom: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.burger span {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.show-sidebar .burger span {
  opacity: 0;
}

.show-sidebar .burger::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-sidebar .burger::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.show-sidebar .burger::before,
.show-sidebar .burger::after {
  top: 50%;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #202020;
  -webkit-box-shadow: 5px 0 15px rgba(5, 5, 5, 0.7);
          box-shadow: 5px 0 15px rgba(5, 5, 5, 0.7);
}

.sidebar__header {
  height: 180px;
  background-color: #121212;
}

.sidebar__header img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar__content {
  padding: 0 20px;
}

.profile {
  margin-top: -50px;
}

.profile__avatar {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.profile__header {
  margin-bottom: 20px;
  text-align: center;
}

.profile__name {
  font-size: 18px;
}

.profile__prof {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin: 0 8px;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.social__item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.profile__text {
  padding: 30px 0;
  margin: 30px 0;
  font-size: 12px;
  text-align: center;
  border-top: 2px solid #1c1c1c;
  border-bottom: 2px solid #1c1c1c;
}

.sidebar__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  background: #121212;
  padding: 1.1em 2.1em;
  border-radius: 30px;
  font-family: inherit;
  line-height: 1.1;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.btn--red {
  background-color: #ED3024;
  -webkit-box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.7);
          box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.7);
  -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear, background-color 0.2s linear;
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  transition: box-shadow 0.2s linear, background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.btn--red:hover {
  -webkit-box-shadow: 0 7px 17px 1px rgba(237, 48, 36, 0.7);
          box-shadow: 0 7px 17px 1px rgba(237, 48, 36, 0.7);
  background-color: #e51f13;
}

.btn--blue {
  background-color: #3137C9;
  -webkit-box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.7);
          box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.7);
  -webkit-transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear, background-color 0.2s linear;
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
  transition: box-shadow 0.2s linear, background-color 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.btn--blue:hover {
  -webkit-box-shadow: 0 7px 17px 1px rgba(49, 55, 201, 0.7);
          box-shadow: 0 7px 17px 1px rgba(49, 55, 201, 0.7);
  background-color: #2c31b4;
}

.btn--rounded {
  border-radius: 5px;
}

.btn--sm {
  padding: 0.66em 1.25em;
}

.main,
.post__page,
.works__page,
.search__page,
.profile__page {
  padding-top: 100px;
  padding-left: 300px;
  padding-bottom: 80px;
}

.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 13px;
  grid-template-rows: 195px;
  margin-bottom: 30px;
}

.stories__item {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.stories__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.stories__item:hover .stories__preview {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.stories__preview {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.stories__title,
.stories__date {
  width: 100%;
  padding: 14px;
  line-height: 1.3;
  font-family: Lato;
  font-size: 12px;
  color: white;
  position: absolute;
  left: 0;
  z-index: 3;
}

.stories__title {
  top: 0;
}

.stories__date {
  text-align: right;
  bottom: 0;
}

.add-post {
  margin-bottom: 30px;
  padding: 15px 20px;
  background-color: #121212;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.add-post__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.add-post__form-actions {
  width: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.add-post__textarea {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
  resize: none;
  font-family: inherit;
  font-size: 15px;
  color: white;
}

.add-post__textarea::-webkit-input-placeholder {
  color: #d2d2d2;
}

.add-post__textarea::-moz-placeholder {
  color: #d2d2d2;
}

.add-post__textarea:-ms-input-placeholder {
  color: #d2d2d2;
}

.add-post__textarea::-ms-input-placeholder {
  color: #d2d2d2;
}

.add-post__textarea::placeholder {
  color: #d2d2d2;
}

.add-post__form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-post__file {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #EBEBEB url(../img/main/add_photo_001.png) center no-repeat;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.add-post__file input {
  display: none;
}

.add-post__file:hover {
  background-color: #d2d2d2;
}

.add-post__send {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3137C9;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.add-post__send:hover {
  background-color: #272ca0;
}

/*POST*/

.post {
  padding: 25px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
}

.post__header {
  margin: 0 0 25px;
}

.post__header--preview {
  margin: -25px -25px 25px -25px;
}

.embed,
.fr-video {
  display: block;
  position: relative;
  overflow: hidden;
}

.embed::before,
.fr-video::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embet,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embet {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.post__preview {
  display: block;
  max-width: 100%;
  height: auto;
}

.post__content {
  margin-bottom: 20px;
}

.post__title {
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 15px;
}

.post__title a {
  color: inherit;
}

.post__title a:hover {
  text-decoration: underline;
}

.post__title--open {
  margin-bottom: 7.5px;
}

.post__subtitle {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}

.post__description {
  font-size: 14px;
  color: #D2D2D2;
}

.post__text {
  font-size: 14px;
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid #3F3F3F;
}

.post__text h2,
.post__text h3,
.post__text h4,
.post__text h5 {
  margin-bottom: 20px;
  font-weight: 700;
}

.post__text h2 {
  font-size: 1.5em;
}

.post__text h3 {
  font-size: 1.25em;
}

.post__text h4 {
  font-size: 1.15em;
}

.post__text h5 {
  font-size: 1em;
}

.post__text ul,
.post__text ol {
  margin-bottom: 20px;
}

.post__text ol {
  list-style: decimal;
  list-style-position: inside;
}

.post__text p {
  margin-bottom: 20px;
}

.post__text a {
  color: #107EFF;
}

.post__text a:hover {
  text-decoration: underline;
}

.post__text table {
  width: 100%;
  margin-bottom: 20px;
}

.post__text img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #828282;
  line-height: 1.2;
}

.post__data a {
  color: inherit;
}

.post__data a:hover {
  text-decoration: underline;
}

.post__data-item:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 15px;
  position: relative;
  top: -2px;
  background-color: #D2D2D2;
}

.post__link {
  display: block;
  font-size: 14px;
  color: #107EFF;
}

.post__link:hover {
  text-decoration: underline;
}

/*PAGINATION*/

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.pagination__item {
  margin: 0 10px;
}

.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #0D0D0D;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.pagination__link:hover {
  background-color: #1f1f1f;
}

.pagination__link.active {
  background-color: #3137C9;
  -webkit-box-shadow: 0 0 15px rgba(58, 108, 234, 0.85);
          box-shadow: 0 0 15px rgba(58, 108, 234, 0.85);
}

.post__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  font-size: 12px;
  color: white;
}

.post__actions a {
  color: inherit;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.post__actions a:hover {
  text-decoration: underline;
  opacity: 1;
}

.post__actions-icon {
  margin-left: 5px;
}

/*RELATED*/

.related {
  padding: 30px 0 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #3F3F3F;
}

.related__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.related__list-item {
  width: 50%;
  margin-bottom: 25px;
}

.related__list-title {
  font-size: 14px;
  color: #F3EBA2;
  font-weight: 500;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.related__list-title a {
  color: inherit;
}

.related__list-title a:hover {
  text-decoration: underline;
}

.related__list-date {
  font-size: 12px;
  color: #828282;
}

.form--auth {
  max-width: 280px;
  margin: 0 auto;
}

.form__group {
  margin-bottom: 15px;
  position: relative;
}

.form__group--mb {
  margin-bottom: 25px;
}

.form__control {
  display: block;
  width: 100%;
  padding: 10px 0px;
  background: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #3F3F3F;
  font-family: inherit;
  font-size: 14px;
  color: white;
}

.form__control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__control::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form__control:focus + .form__line {
  width: 100%;
}

.form__control:--textarea {
  height: 30px;
  resize: none;
  overflow: hidden;
}

.form__line {
  width: 0;
  height: 2px;
  background-color: #3137C9;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: width 0.8s linear;
  -o-transition: width 0.8s linear;
  transition: width 0.8s linear;
}

.form__footer--center {
  text-align: center;
}

.form__footer--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 1.2;
}

.form__footer--list li {
  margin: 0 5px;
}

.form__footer--list a {
  color: white;
}

/*COMMENTS*/

.comments {
  margin-top: 50px;
}

.comments__item {
  margin-bottom: 30px;
}

.comments__item > .comments {
  padding-left: 30px;
  margin-top: 30px;
}

.comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.commets__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comments__autor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 15px;
  font-size: 12px;
}

.comments__name {
  font-weight: 500;
  color: white;
}

.comments__pubdate {
  color: #757575;
}

.comments__text {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: white;
}

.comments__reply {
  padding: 0;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 12px;
  color: #107EFF;
}

.comments__reply:hover {
  text-decoration: underline;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
}

.work__preview {
  width: 310px;
}

.work__preview img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 290px;
  padding: 25px;
}

.work__title {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

.work__title a {
  color: inherit;
}

.work__title a:hover {
  text-decoration: underline;
}

.work__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.65;
  color: #D2D2D2;
  margin-bottom: 30px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.tags__item {
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: #EA8C1E;
}

.work__footer {
  margin-top: auto;
  text-align: right;
}

.cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabinet__form {
  width: 340px;
}

.cabinet__avatar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 110px;
}

.cabinet__avatar img {
  display: block;
  margin-bottom: 15px;
}

.cabinet__file {
  font-size: 14px;
  color: #107EFF;
  text-decoration: underline;
  cursor: pointer;
}

.cabinet__file input {
  display: none;
}

.cabinet__file:hover {
  text-decoration: none;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 80px 80px 25px;
  background-color: #202020;
  border-radius: 5px;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.modal__content--contact {
  padding-bottom: 80px;
}

.modal__content--story {
  padding: 0;
  background: none;
}

.modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  font-size: 12px;
  color: #b2b2b2;
}

.modal__footer li {
  margin: 0 5px;
}

.modal__footer a {
  color: inherit;
  text-decoration: underline;
}

.modal__footer a:hover {
  text-decoration: none;
}

.modal__close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}

.modal__close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
}

.modal__video {
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
  /*PAGE*/

  .show-sidebar .page {
    position: relative;
  }

  .page__mask {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }

  /*HEADER*/

  .header {
    width: 100%;
  }

  /*NAV*/

  .nav {
    display: none;
  }

  .nav--mobile {
    display: block;
    margin: 30px 0;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__link {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
  }

  .nav__link:hover {
    background: none;
  }

  .nav__item:hover .nav__link {
    background: none;
  }

  .subnav {
    position: static;
    width: 100%;
    padding-left: 10px;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .subnav:hover {
    background: none;
  }

  .subnav__link {
    font-size: 15px;
  }

  .subnav__link:hover {
    background: none;
  }

  .header__left {
    width: 40%;
  }

  .header__right {
    width: 60%;
  }

  .search__input {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  /*BURGER*/

  .burger {
    display: block;
  }

  /*SIDEBAR*/

  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 40px);
    padding-bottom: 15px;
    overflow: auto;
    top: 40px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .show-sidebar .sidebar {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .sidebar__header {
    height: 100px;
  }

  .sidebar__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .profile__header {
    text-align: left;
    padding-left: 80px;
    padding-top: 25px;
  }

  .profile {
    margin-top: -10px;
    position: relative;
    border-bottom: 2px solid #3c3c3c;
  }

  .profile__name {
    font-size: 15px;
  }

  .profile__prof {
    font-size: 12px;
  }

  .profile__avatar {
    width: 65px;
    height: 65px;
    margin-left: 0;
    position: absolute;
    left: 0;
  }

  .profile__text {
    display: none;
  }

  .social {
    display: none;
  }

  /*main*/

  .main,
  .post__page,
  .works__page,
  .search__page,
  .profile__page {
    padding: 70px 0 50px;
  }

  .post__preview {
    margin: 0 auto;
  }

  .pagination {
    margin-top: 50px;
  }

  /*MODAL*/

  .modal__content {
    padding: 50px 30px 30px;
  }

  body.show-sidebar {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  /*HEADER*/

  /*CONTAINER*/

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  /*POST*/

  .post {
    padding: 15px;
  }

  .add-post {
    padding: 15px;
  }

  .add-post__textarea {
    height: 40px;
  }

  .post__data {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .post__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  /*STORIES*/

  .stories {
    grid-template-columns: 150px 150px 150px 150px;
    overflow: auto;
  }

  /*RELATED*/

  .related__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .related__list-item {
    width: 100%;
  }

  /*WORKS*/

  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work__preview {
    width: 100%;
    height: 200px;
  }

  .work__content {
    max-width: none;
    padding: 15px;
  }

  .work__title {
    margin-bottom: 20px;
  }

  .work__description {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .work__footer {
    text-align: left;
  }

  /*PROFILE*/

  .cabinet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cabinet__form {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .cabinet__avatar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0;
    margin-bottom: 20px;
  }
}